<!DOCTYPE html>
<html>
    <head>
        <title>Leave a review for the {{color}} Line</title>
    </head>
    <body>
        <h1 class="main-head">Leave a review for the {{color}} Line</h1>
        <form class="review-form" action="/subway/{{color}}" method="post">
            <div class="name-input">
                <label for="username-id">Name: </label>
                <input id="username-id" type="text" name="username" value="{{name}}">
            </div>
            <div class="review-text">
                <textarea type="text" name="review" rows="10" cols="100">{{reviewText}}</textarea>
            </div>
            <input class="submit-button" type="submit" value="Submit Review">
        </form>
        {{#if submitErrorMsg}}
            <div class="submit-error-msg">{{submitErrorMsg}}</div>
        {{/if}}
        {{#each reviews}}
        <div class="review-wrap">
            <div class="name-div">{{name}} wrote: </div>
            <div class="review-div">{{reviewText}}</div>
            <div class="review-buttons">
                <form method="post" action="/{{subwayLine}}/{{_id}}?_method=DELETE">
                    <input class="delete-button" type="submit" value="Delete Review">
                </form>
                <a class="edit-button" href="/edit/{{_id}}">Edit Review</a>
            </div>
        </div>
        {{/each}}
    </body>
</html>
